*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    width: 1200px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    background-color: crimson;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px 0px;
    z-index: 999;
}
.navbar .max-width{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.navbar .menu li{
    display: inline-block;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
}
.home{
    height: 100vh;
    background-image: url(./img/bg.jpg);
}
.home .max-width{
    position: relative;
}
.home .home-content{
    position: absolute;
    top: 170px;
    left: 0px;
    font-family: 'Ubuntu', sans-serif;
    color: #fff
}
.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 20px;
    color: aqua;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    margin-left: 40px;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    margin-top: 20px;
    margin-left: 60px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}
.tittle{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 50px;
    color: crimson;
    font-family: 'Ubuntu', sans-serif;
}
.about{
    background-color: #F9F9FF;
    padding: 40px;
}
.about-content{
    display: flex;
    justify-content: space-between;
    padding: 0px 60px;
    margin: 30px;
}
.about-content .column-left{
    flex: 40%;
}
.about-content .column-right{
    flex: 60%;
    margin-top: 30px;
}
.about-content img{
    width: 300px;
    object-fit: cover;
    border-radius: 6px;
}
.about .column-right li{
    font-size: 25px;
    margin-top: 5px;
    color: #333333;
}
/* Projects */
.Projects{
    padding: 40px 60px;
}
.myProjects-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
.project-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-item{
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
}
.project-item:hover{
    opacity: 0.5;
    transition-duration: 0.5s;
}
.project-tittle{
    font-size: 20px;
    margin-top: 10px;
}
.project-tittle a{
    color: crimson;
}
/* Contact Me */
.contactMe{
    background-color: #F9F9FF;
    padding: 40px;
}
.contactMe-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contactMe-icon{
    font-size: 70px;
    color: crimson;
}
.contactMe-name{
    font-size: 23px;
    color: #777777;
}
.contactMe-detail{
    font-size: 20px;
    color: #777777;
    margin-top: 5px;
}