.gallery {
  border: 1px solid #ccc;
}

.gallery:hover {
  border: 1px solid #ccc;
  transform: scale(1.1);
  transition: all 0.5s linear;
}


.gallery img {
  width: 100%;
  
}

.gallery a:link,:visited,:active {
  text-decoration: none;
  color: black;
}

.gallery a:hover {
  text-decoration: underline; 
}

.desc {
  padding: 15px;
  text-align: center;
  background-color: aliceblue;
}

.img-responsive {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 33.33%;
  margin-bottom: 2em;
  display: block;
  overflow: hidden;
}

